<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <script src="js/bootstrap.min.js"></script>
    <title>Pagina Inicial</title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Página publica</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal"  method="POST" style="margin: 10px">
                <div class="form-group row">
                    <a class="btn btn-sm btn-success" href="/home" >Acessar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>